<div class="container mt-6 p-0  is-flex is-flex-direction-column is-align-items-center">
    <div class="container">
        {{#each posts}}
            <div class="card mb-5">
                {{#if this.hasImg}}
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <a href="/posts/{{this.slug}}"><img src="{{this.path}}"  alt="Placeholder image"></a>
                        </figure>
                    </div>
                {{/if}}
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <a href="/posts/{{this.slug}}" class="title is-4"><p>{{this.title}}</p></a>
                            <a href="/posts/user/{{this.author}}" class="subtitle is-6">@{{this.author}}</a>
                        </div>
                    </div>

                    <div class="content">
                        <span>{{this.body}}</span>
                    </div>
                    <div class="content">
                        <span>{{this.date}}</span>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>