{{>navbar}}
{{#if create_post}}
    {{>create_post}}
{{/if}}

{{#if post_edited}}
    {{>post_edited}}
{{/if}}


<div class="container mt-6 p-0  is-flex is-flex-direction-column is-align-items-center">
    <div class="container mt-6">
        <div class="card mb-5">
            {{#if post.hasImg}}
                <div class="card-image">
                    <figure class="image is-1by1">
                        <img src="{{post.path}}" alt="Placeholder image">
                    </figure>
                </div>
            {{/if}}
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <a href="/posts/{{post.slug}}" ><p class="title is-4">{{post.title}}</p></a>
                        <a href="/posts/user/{{post.author}}" class="subtitle is-6">@{{post.author}}</a>
                    </div>
                </div>

                <div class="content">
                    <p>{{post.body}}</p>
                    <p>{{post.date}}</p>
                </div>
            </div>
        </div>
        {{#if hasAccess}}
            <a href="/posts/edit/{{post._id}}" class="button is-info">
                <span class="icon-text">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </span>
                    <span>Editar</span>
                </span>
            </a>
            <button class="button is-danger" data-bs-toggle="modal" data-bs-target="#modal" id="btn">
                <span class="icon-text">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </span>
                    <span>Eliminar</span>
                </span>
            </button>
        {{/if}}
    </div>
</div>


{{#if hasAccess}}
    <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Estás a punto de borrar este Post</p>
                <button class="delete" aria-label="close" data-bulma-modal="close"></button>
            </header>
            <section class="modal-card-body">
                <p class="has-text-weight-bold">Desea borrar este Post? No podrás recuperar la información una vez eliminada!</p>
            </section>
            <footer class="modal-card-foot is-flex is-justify-content-flex-end">
                <form action="/posts/{{post._id}}?_method=DELETE" method="POST">
                    <button class="button is-danger">Eliminar</button>
                </form>
                <button class="button is-primary" data-bulma-modal="close">Cancelar</button>
            </footer>
        </div>
    </div>

    <script src="/js/modal.js"></script>
{{/if}}